# required if you want llm observability, authentication
HELICONE_CONTROL_PLANE_API_KEY="sk-helicone-..."
# provider keys, only set the ones you wish to enable
OPENAI_API_KEY="sk-proj-"
ANTHROPIC_API_KEY="sk-..."
GEMINI_API_KEY="fjalksj"
GROQ_API_KEY="gsk_..."
CLOUDFLARE_API_KEY_WITH_ACCOUNT_ID="account_id:cfut_..."
# or split:
# CLOUDFLARE_ACCOUNT_ID="..."
# CLOUDFLARE_API_KEY="..."
OPENROUTER_API_KEY="sk-or-..."
AWS_ACCESS_KEY="asbbj340j"
AWS_SECRET_KEY="kfjd09431"

OTEL_METRIC_EXPORT_INTERVAL=10000