target
node_modules
.wrangler
.env
ai-gateway/dev/logs
dev/session.json
dev/perplexity-session.json
dev/deepseek-session*.json
dev/secrets.local.yaml
dev/secrets.local.backup.yaml
dev/secrets.debug.*.yaml
.idea/*
.DS_Store
bindings/
cloud.yaml
lcov.info

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
crash.log
crash.*.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.vscode
