target
node_modules
.wrangler
.env
dev/session.json
dev/perplexity-session.json
dev/deepseek-session.json
.idea/*
.DS_Store
bindings/
cloud.yaml

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
crash.log
crash.*.log
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.vscode